.vertical-tabs-pf {
  list-style: none;
  margin: 0 0 var(--pf-t--global--spacer--lg);
  padding: 0;

  .vertical-tabs-pf {
    margin-block-end: 0;
    padding-block-start: var(--pf-t--global--spacer--xs);
  }
}

.vertical-tabs-pf-tab {
  margin-block-start: var(--pf-t--global--spacer--sm);
  padding-inline-start: 0;
  position: relative;

  & .vertical-tabs-pf-tab {
    margin-inline-start: var(--pf-t--global--spacer--md);
  }

  > a {
    color: var( --pf-t--global--text--color--regular);
    text-decoration: none;
    display: inline-block;
    margin-inline-start: var(--pf-t--global--spacer--md);
    padding: var(--pf-t--global--spacer--xs) var(--pf-t--global--spacer--sm) var(--pf-t--global--spacer--xs) var(--pf-t--global--spacer--sm);
    vertical-align: top;
    width: 100%;
    word-break: break-word;
    border-radius: var(--pf-t--global--border--radius--small);
    position: relative;

    &::after {
      content: '';
      position: absolute;
      inset: 0;
      border: var(--pf-t--global--border--width--action--plain--default) solid var(--pf-t--global--border--color--high-contrast);
      border-radius: inherit;
      pointer-events: none;
    }

    &:hover,
    &:focus {
      background-color: var(--pf-t--global--background--color--action--plain--hover);
      text-decoration: none;

      &::after {
        border-color: var(--pf-t--global--border--color--high-contrast);
        border-width: var(--pf-t--global--border--width--action--plain--hover);
      }
    }

    &.no-wrap {
      overflow-x: hidden;
      white-space: nowrap;
    }

    &.truncate {
      overflow-x: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &.active {
      &::before {
        background: var( --pf-t--global--border--color--brand--clicked);
        content: "\00a0"; // &nbsp;
        inset-inline-start: 0;
        inset-block-start: var(--pf-t--global--spacer--xs);
        position: absolute;
        width: var(--pf-t--global--border--width--extra-strong);
      }
  }

  &:first-of-type {
    margin-block-start: 0;
  }
}

.vertical-tabs-pf.restrict-tabs {
  .vertical-tabs-pf-tab {
    display: none;

    /* Show any active tab, tab that has an active descendant, or is force shown */
    &.active,
    &.active-descendant,
    &.shown {
      display: block;
    }
  }

  /* Show siblings of the active tab */
  &.active-tab {
    > .vertical-tabs-pf-tab {
      display: block;
    }
  }

  /* Show the direct children of an active tab */
  .vertical-tabs-pf-tab.active {
    > .vertical-tabs-pf {
      > .vertical-tabs-pf-tab {
        display: block;
      }
    }
  }
}
